extends includes/template.pug

block title
    | Recovery password
block content
    section.modal.modal--page  
        form.modal__form.modal__form--page(action="" method="post" name="password-recovery-form")
            h3.modal__title.modal__title--recovery.modal__title--page Восстановление пароля
            p.modal__text Введите ваш email адрес...   
            input.modal__input.modal__input--recovery.modal__input--page(type="email" value="Email...")
            p.modal__text  
            | Укажите адрес эл. почты, который вы использовали при оформлении заказов в ATEP. Мы вышлем вам инструкцию по восстановлению пароля. 
            .modal__buttons.modal__buttons--recovery   
                input.modal__button.modal__button--recovery.modal__button--page.form-button(type="submit" value="Восстановить пароль")   
                a.modal__button.form-button.modal__button--page.modal__button--recovery(href="#") Вспомнили пароль?  
